<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <!--<target name="CCIGUI" xsi:type="File"
            layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${message}"
            fileName="C:\KYLOG\AOIGUI\CCIGUI\KYLOG-CCIGUI-${date:yyyyMMdd}.LOG"
            keepFileOpen="false"
            archiveNumbering="Sequence"
            archiveAboveSize="5242880"
            archiveFileName="C:\KYLOG\AOIGUI\CCIGUI\KYLOG-CCIGUI-${date:yyyyMMdd}_{#}.LOG"
            encoding="utf-8" />-->

    <target name="NPCINFO" xsi:type="File"
				layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${logger} | ${message} ${exception:format=tostring}"
				fileName="${date:yyyyMMdd}.LOG"
				keepFileOpen="false"
				archiveNumbering="Sequence"
				archiveAboveSize="5242880"
				archiveFileName="${date:yyyyMMdd}.LOG"
				encoding="utf-8" />

    <target name="NPCFATAL" xsi:type="File"
				layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${logger} | ${message} ${exception:format=tostring}"
				fileName="${date:yyyyMMdd}.LOG"
				keepFileOpen="false"
				archiveNumbering="Sequence"
				archiveAboveSize="5242880"
				archiveFileName="${date:yyyyMMdd}.LOG"
				encoding="utf-8" />

    <target name="NPCGUI" xsi:type="File"
				layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${logger} | ${message} ${exception:format=tostring}"
				fileName="${date:yyyyMMdd}.LOG"
				keepFileOpen="false"
				archiveNumbering="Sequence"
				archiveAboveSize="5242880"
				archiveFileName="${date:yyyyMMdd}.LOG"
				encoding="utf-8" />

    <target name="NPCDBCONNECTOR" xsi:type="File"
				layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${logger} | ${message} ${exception:format=tostring}"
				fileName="${date:yyyyMMdd}.LOG"
				keepFileOpen="false"
				archiveNumbering="Sequence"
				archiveAboveSize="5242880"
				archiveFileName="${date:yyyyMMdd}.LOG"
				encoding="utf-8" />

    <target name="NPCDEBUG" xsi:type="File"
				layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${logger} | ${message} ${exception:format=tostring}"
				fileName="${date:yyyyMMdd}.LOG"
				keepFileOpen="false"
				archiveNumbering="Sequence"
				archiveAboveSize="5242880"
				archiveFileName="${date:yyyyMMdd}.LOG"
				encoding="utf-8" />

    <target name="GLOBALIZATION" xsi:type="File"
				layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${logger} | ${message} ${exception:format=tostring}"
				fileName="${date:yyyyMMdd}.LOG"
				keepFileOpen="false"
				archiveNumbering="Sequence"
				archiveAboveSize="5242880"
				archiveFileName="${date:yyyyMMdd}.LOG"
				encoding="utf-8" />

    <target name="console" xsi:type="Console" layout="[ ${level:uppercase=true} ] ${message}${exception:format=tostring}" />

    <target name="Network" xsi:type="Network" address="udp://127.0.0.2:4000" layout="&lt;${date:format=yyyyMMdd HH\:mm\:ss\:fff}&gt; ${message} ${exception:format=tostring}" encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="NpcInfo" minlevel="Debug" writeTo="CCIINFO,console" />
    <logger name="NpcError" minlevel="Debug" writeTo="CCIERROR,console" />
    <logger name="NpcGUI" minlevel="Debug" writeTo="CCIGUICONNECTOR,console" />
    <logger name="NpcDBConnector" minlevel="Debug" writeTo="CCIDBCONNECTOR,console" />
    <logger name="NpcDebug" minlevel="Debug" writeTo="CCIDEBUG,console" />
    <logger name="Globalization" minlevel="Debug" writeTo="GLOBALIZATION,console" />
  </rules>
</nlog>